.image-mosaic {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
}

.image-mosaic div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000;
    font-size: 3rem;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    transition: all 500ms;
    overflow: hidden;
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 600px) {
    /* .tall {
        grid-row: span 2 / auto;
    }

    .wide {
        grid-column: span 2 / auto;
    } */
}

.image-mosaic div p {
    opacity: 0;
    color: #000000;
    font-size: 1.5rem;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.image-mosaic div:hover p {
    opacity: 1;
    visibility: visible;
    mix-blend-mode:multiply;
    transition: opacity 0.3s, visibility 0.3s;
}

.image-mosaic div:hover {
    background-color: #adadad;
    transition: all 500ms;
}

